.h11{
    color: red !important;
}
li :hover{
    color:red !important;
}
a, link{
  text-decoration: none !important;
  
}

.grencol{
  color: green !important;
}
.EroorColor{
  color:  red !important;
}

@media (max-width: 768) {
  .topDiv{
    display: none !important;
  }
  
}